@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Independence_hall';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Independence_hall.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.board-title {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: HSBombaram3_Regular;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.7);
}

.col-auto {
    margin: auto 0;
}

.table {
    text-align: center;
}
.table tbody th{
    font-family: SLEIGothicTTF;
    font-weight: normal;
}
.table tbody td{
    font-family: SLEIGothicTTF;
    font-weight: normal;
}
.table tbody .td-title:hover{
    cursor: pointer;
}

#title-col {
    text-align: left;
    font-family: SLEIGothicTTF;
    font-size: 2em;
}

.writing-form {
    font-family: 'RIDIBatang';
    font-size: 1.2em;
}
.writing-row-default {
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.writing-row-noboard {
    padding-top: 5px;
    padding-bottom: 5px;
}
.col-bold {
    font-weight: bold;
}
.col-input {
    text-align: left;
}
.col-input input[type=text] {
    width: 100%;
    border: none;
}
.col-input input[type=file] {
    width: 100%;
    border: none;
}
.col-input textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: none;
}
.btn-write {
    background: #E50914;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-family: SLEIGothicTTF;
    color: white;
}
.container.content-container {
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    font-size: 1.2em;
    font-family: Independence_hall;
}
.row.comment-row {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E7E7E7;
    font-family: 'Independence_hall';
}
.comment {
    margin: 0px;
    padding: 15px;
    text-align: left;
}