@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header {
    width: 100%;
    background-color: black;
    color: #E50914;
}
.header-container {
    margin: 0px 60px;
}
.header-container * {
    display: inline-block;
}
.header-container a {
    width: 30%;
    margin: 0px;
    padding: 25px 0px 15px 0px;
    text-decoration: none;
    color: #E50914;
}
.header-container .input-container {
    width: 30%;
    text-align: right;
}
#logo {
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
}
.nav-li {
    margin: 0px;
    width: 35%;
    font-size: 1.2em;
    font-family: SLEIGothicTTF;
    color: white;
}
.nav-li:hover {
    color: #E50914
}
.search-icon {
    width: 3%;
    text-align: right;
    color: white;
}
.search-icon:hover {
    cursor: pointer;
}
input[type=text] {
    width: 250px;
    padding: 10px 10px 10px 30px;
    background-color: #f1f3f5;
    border-radius: 9999px;
    border-color: #f1f3f5;
    border-style: solid;
    outline-offset: -2px;
    font-family: SLEIGothicTTF;
    font-size: 1em;
}
input[type=text]:focus {
    outline:none;
}